<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add new product</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <form action="/add" method="POST" enctype="multipart/form-data">
            <input type="text" name="name" placeholder="Name">
            <br><br>
            <input type="text" name="desc" placeholder="Desc">
            <br><br>
            <input type="text" name="video" placeholder="Video">
            <br><br>
            <input type="file" name="image">
            <br><br>
            <button>Add video</button>
        </form>
    </body>
</html>